<div class="wrapper">
  <div class="showGrid settingsContainer">
    <input type="checkbox" [(ngModel)]="drawerService.showGrid" id="showGrid">
    <label for="showGrid">Koordinatengitter anzeigen</label>
  </div>
  <div class="showGridNumbers settingsContainer">
    <input type="checkbox" [(ngModel)]="drawerService.showGridNumbers" id="showGridNumbers" [disabled]="!drawerService.showGrid">
    <label for="showGridNumbers">Achsenbeschriftung anzeigen</label>
  </div>
  <div class="screenshotDiv settingsContainer">
    <button class="button" (click)="this.screenshot()">Screenshot</button>
  </div>
  <div class="downloadDiv settingsContainer">
    <button class="button" (click)="this.download()">Herunterladen</button>
  </div>
  <div class="openDiv settingsContainer">
    <button class="button" (click)="this.open()">Öffnen</button>
  </div>
</div>
