<div class="wrapper">
  <div class="showGrid settingsContainer">
    <input type="checkbox" [(ngModel)]="drawerService.showGrid" id="showGrid">
    <label for="showGrid">Koordinatengitter anzeigen</label>
  </div>
  <div class="showGridNumbers settingsContainer">
    <input type="checkbox" [(ngModel)]="drawerService.showGridNumbers" id="showGridNumbers" [disabled]="!drawerService.showGrid">
    <label for="showGridNumbers">Achsenbeschriftung anzeigen</label>
  </div>
  <div class="drawPointsEqually settingsContainer">
    <input type="checkbox" [(ngModel)]="drawerService.drawPointsEqually" id="drawPointsEqually">
    <label for="drawPointsEqually">Punkte auf gleicher Ebene zeichnen</label>
  </div>
  <div class="drawNewLabels settingsContainer">
    <input type="checkbox" [(ngModel)]="drawerService.drawNewLabels" id="drawNewLabels">
    <label for="drawNewLabels">Neues Verschieben der Labels verwenden</label>
  </div>
  <div class="screenshotDiv settingsContainer">
    <button title="Mache ein Screenshot" class="button" (click)="this.screenshot()">Screenshot</button>
  </div>
  <div class="downloadDiv settingsContainer">
    <button title="Speicher in einer Datei" class="button" (click)="this.download()">Herunterladen</button>
  </div>
  <div class="openDiv settingsContainer">
    <button class="button inpButton">
      Öffnen
      <input title="Lade aus einer Datei" id="inp" type="file" (change)="this.openFile()" accept=".json">
    </button>
  </div>
  <div class="resetDiv settingsContainer">
    <button title="Alles zurücksetzen" class="button" (click)="this.reset()">Zurücksetzen</button>
  </div>
</div>
