<div class="wrapper">
  <p class="paragraph heading">Schnittpunkte berechnen</p>
  <p class="paragraph">Von<span class="maths">{{ this.getFuncName(this.dialogData?.graph1) }}</span>:</p>
  <p class="centered maths">{{ this.dialogData?.graph1?.func?.operationAsString }}</p>
  <p class="paragraph">Und<span class="maths">{{ this.getFuncName(this.dialogData?.graph2) }}</span>:</p>
  <p class="centered maths">{{ this.dialogData?.graph2?.func?.operationAsString }}</p>
  <p class="paragraph">Im Intervall</p>
  <p class="centered">
    <app-interval [(from)]="this.from" [(to)]="this.to"></app-interval>
  </p>
  <p class="paragraph">mit der Suchtiefe:</p>
  <p class="centered maths">
    <input class="input" type="number" [(ngModel)]="this.depth" title="Suchtiefe">
  </p>
  <button class="button floatRight close" (click)="this.dialog.close()" title="Dialog schließen">Schließen</button>
  <button class="button floatRight" (click)="this.evaluateIntersectionPoints()" title="Schnittpunkte berechnen">Schnittpunkte</button>
</div>
