@import "../../global/styles/_global.css";

.input {
  width: 50px;
  display: unset;
}

.paragraph {
  --margin: 16px;
  --buttonSize: 46px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14pt;
  user-select: none;
}

.heading {
  margin-bottom: 16px;
}

.close {
  margin-top: 16px;
}

.nameInput {
  margin-bottom: 16px;
}

td {
  padding-left: 16px;
  padding-top: 7px;
}

.checkboxDiv, .rangeDiv {
  font-family: 'Segoe UI', Calibri, 'sans-serif';
  padding: 8px;
  user-select: none;
}

.checkboxDiv label, .rangeDiv label {
  padding-left: 6px;
}

#lsi {
  margin-top: 6px;
}

#lsi {
  width: 100%;
}
