.iconButton {
  --buttonSize: 46px;
  height: var(--buttonSize);
  width: var(--buttonSize);
  border: none;
  outline: none;
  background: #fcfcfc;
  transition: all 0.1s ease-in-out;
  border-radius: 50%;
  user-select: none;
}

.iconButton:hover {
  background: #eeeeee;
}

.iconButton:active, .iconButton:focus {
  background: #dddddd;
}

.iconButton.depositionTop {
  margin-top: calc(-1 * var(--buttonSize));
}

.floatRight {
  float: right;
}

.input {
  --padding: 7px;
  --buttonSize: 46px;
  --border: 1px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: calc(var(--buttonSize) - 2 * (var(--padding) + var(--border)));
  font-size: 14pt;
  font-family: "Cambria Math", Cambria, "CMU Serif", serif;
  padding: var(--padding);
  display: block;
  border: var(--border) solid transparent;
  border-radius: 5px;
  outline: none;
  background: #eee;
  transition: 0.1s all ease-in-out;
  color: #555;
}

.input:hover {
  background: #ddd;
}

.input:focus {
  background: white;
  border: 1px solid #d9d9d9;
  color: black;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.button {
  padding: 7px;
  outline: none;
  border: 1px solid #cccccc;
  background: #fcfcfc;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
  font-size: 12pt;
  font-family: 'Segoe UI', Calibri, 'sans-serif';
  font-weight: 500;
  user-select: none;
}

.button:hover {
  background: #eeeeee;
  border: 1px solid #999999;
}

.button:focus, .button:active {
  background: #dddddd;
  border: 1px solid #555;
}

.heading {
  font-size: 16pt !important;
  font-weight: 600;
  margin-top: 0;
}

.paragraph {
  font-size: 13pt;
  font-family: 'Segoe UI', Calibri, 'sans-serif';
  user-select: none;
}

.maths {
  font-size: 14pt;
  user-select: none;
  font-family: "Cambria Math", Cambria, "CMU Serif", serif;
}

.centered {
  text-align: center;
}

.floatRight {
  float: right;
}

.close {
  color: red;
}
