.wrapper {
  --buttonSize: 46px;
  --margin: 16px;
}

.wrapper.error .input {
  background: #ffcccc !important;
}

.input {
  --padding: 7px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: calc(100% - 2 * var(--padding) - var(--buttonSize) - var(--margin));
  margin-left: calc(var(--margin) + var(--buttonSize));
  height: 30px;
  font-size: 14pt;
  font-family: "Cambria Math", Cambria, serif;
  padding: var(--padding);
  display: block;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
  background: #eee;
  transition: 0.1s all ease-in-out;
  color: #555;
}

.input:hover {
  background: #ddd;
}

.input:focus {
  background: white;
  border: 1px solid #d9d9d9;
  color: black;
}

.colorPicker {
  --borderThickness: 2px;
  float: left;
  width: calc(var(--buttonSize) - 2 * var(--borderThickness));
  height: calc(var(--buttonSize) - 2 * var(--borderThickness));
  border: var(--borderThickness) solid;
  border-radius: 100%;
}

.colorPicker.notVisible {
  background: transparent !important;
}
