.text, .input {
  height: 30px;
  font-size: 14pt;
  font-family: "Cambria Math", Cambria, serif;
}

.text {
  user-select: none;
}

.span {
  --padding: 7px;
  --border: 1px;
  display: inline-flex;
  overflow: hidden;
  right: 0;
  margin-right: 0;
  padding-right: calc(2 * (var(--padding) + var(--border)));
}

.input {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: var(--padding);
  width: 100%;
  border: var(--border) solid transparent;
  border-radius: 5px;
  outline: none;
  background: #eee;
  transition: 0.1s all ease-in-out;
  color: #555;
}

.input:hover {
  background: #ddd;
}

.input:focus {
  background: white;
  border: 1px solid #d9d9d9;
  color: black;
}

.slider {
  width: 100%;
  margin-top: 16px;
}
