@import url("../../global/styles/_global.css");

.wrapper {
  --buttonSize: 46px;
  height: var(--buttonSize);
}

.paragraph {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: calc(var(--buttonSize) + 16px);
  line-height: var(--buttonSize);
}

.elementCount {
  font-size: 10pt;
  color: grey;
  margin-left: 7px;
}
