.element {
  --height: 30px;
  --sizeIcon: 30px;
  --marginToIcon: 5px;
  height: var(--height);
  user-select: none;
  line-height: var(--height);
  padding: 7px;
  font-size: 12pt;
  font-family: "Segoe UI", sans-serif;
  border-radius: var(--borderRadius);
  background: white;
  transition: 0.1s all ease-in-out;
}

.element:hover {
  background: #eee;
}

.element:active {
  background: #ccc;
}

.element.disabled {
  color: gray !important;
}

.element.disabled:hover {
  background: white;
}

.element.disabled:active {
  background: white;
}

.element p {
  margin-left: calc(var(--sizeIcon) + var(--marginToIcon));
  margin-top: 0;
  margin-bottom: 0;
}

@keyframes start {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}

.wrapper {
  --borderRadius: 5px;
  background: white;
  position: fixed;
  padding: 5px;
  border-radius: var(--borderRadius);
  border: 1px solid #ccc;
  transform-origin: top left;
  animation: 0.1s start ease-in-out;
  z-index: 1;
}

.material-symbols-outlined {
  transform: translateY(-27.5px);
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
